body {
  background-color: #1c1c1c;
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  font-size: 48px;
  color: #c9c9c9;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 25%;
}
#subtitle {
  font-size: 24px;
  color: #c9c9c9;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#intro {
  padding-top: 20%;
  text-align: center;
}
.text-center {
  text-align: center;
}
.card-img-top {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding-top: 10px;
}
.card {
  background: #fff;
  box-shadow: 0 8px 15px -7px #c9dff0;
  margin: 0 20px;
  padding-left: 10px;
  border-radius: 20px;
  border: 0;
  color: #3b3b3b;
  width: 200px;
  height: 350px;
}
a {
  text-decoration: none;
  color: #0084ff;
}
.card-text {
  height: 175.6px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.text-center {
  text-align: center;
}
#footer {
  background-color: #1a1a1a;
  height: 300px;
  padding-left: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
#gs {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}