body {
  background-color: #1c1c1c;
  color: #c9c9c9;
  font-family: Arial, Helvetica, sans-serif;
}
#title {
  font-size: 48px;
  color: #c9c9c9;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 25%;
}
#subtitle {
  font-size: 24px;
  color: #c9c9c9;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;
}
#intro {
  padding-top: 20%;
  text-align: center;
}
#start-menu {
  padding-top: 25px;
}
.text-center {
  text-align: center;
}
.card-wrapper {
  padding-top: 20px;
}
.card-img-top {
  width: 100px;
  height: auto;
  border-radius: 50%;
  padding-top: 10px;
}
.card {
  background: #fff;
  box-shadow: 0 8px 15px -7px #c9dff0;
  margin: 0 10px;
  padding-left: 10px;
  border-radius: 20px;
  border: 0;
  color: #3b3b3b;
  width: 200px;
  height: 350px;
}
a {
  text-decoration: none;
  color: #0084ff;
}
.card-text {
  height: 175.6px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.text-center {
  text-align: center;
}
#footer {
  background-color: #1a1a1a;
  height: 300px;
  padding-left: 0px;
  padding-bottom: 0px;
  box-sizing: border-box;
}
#gs {
  cursor: pointer;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
}

.zoom {
  -webkit-animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.zoom:hover {
  text-decoration: none;
  -webkit-animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  float: none;
  width: 25%;
  padding: 0 5px;
  padding-bottom: 30px;
  padding-left: 10px;
}

.row {
  width: 100%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.thing {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  background-color: #fff;
  color: #3b3b3b;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0 8px 15px -7px #c9dff0;
  padding-top: 10px;
}

.fa {font-size:50px;}