/* CSS for /projects */
body {
  font-family: sans-serif;
  font-size: "25px";
  color: #ffffff;
  text-align: left;
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #0084ff;
}
.text-center {
  text-align: center;
}
.game-link {
  height: 400px;
  width: 300px;
}
.game-tile {
  background-color: #949494;
  height: 400px;
  width: 300px;
  color: #ffffff;
  border-radius: 30px;
  -webkit-animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: scale-down-center 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.game-tile:hover {
  text-decoration: none;
  -webkit-animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-down-center {
  0% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.game-icon {
  border-radius: 30px;
  width: 300px;
  height: 300px;
}
.game-title {
  font-size: 30px;
  color: #ffffff;
  text-align: center;
}
.flex-container {
  display: flex;
  flex-direction: row;
  order: 0;
  flex-grow: 0;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 10px;
}
.badge {
  background-color: red;
  color: white;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
#mySearch {
  width: 50%;
  text-align: center;
  font-size: 18px;
  padding: 11px;
  border: 3px solid #ddd;
  border-radius: 30px;
}