/* CSS for /dump/redirect */
body {
  font-family: sans-serif;
  color: #ffffff;
  text-align: left;
  background-color: #1c1c1c;
  background-repeat: no-repeat;
  background-size: cover;
}
a {
  text-decoration: none;
  color: #ffffff;
}
.text-center {
  text-align: center;
}
#button {
  width: 100%;
  height: 50px;
  background-color: #33ff00;
  border-radius: 15px;
  cursor: pointer;
  display: none;
}