:root {
  --primary-color: #040836;
  --primary-color-rgb: 4, 8, 54;

  --secondary-color: #1AA7EC;
  --secondary-color-2: #797EF6;
  --secondary-color-rgb: 26, 167, 236;
  --secondary-color-rgb-2: 121, 126, 246;
}