:root {
  --primary-color: #292F45;
  --primary-color-rgb: 41, 47, 69;

  --secondary-color: #ED406C;
  --secondary-color-2: #8364E2;
  --secondary-color-rgb: 237, 64, 108;
  --secondary-color-rgb-2: 131, 100, 226;
}