.TopBar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: stretch;
  padding: 2rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
  position: relative;
  z-index: 1;
  pointer-events: none;

  & > * {
    pointer-events: all;
  }

  .placeholder {
    height: 3.5rem;
  }

  .currency {
    justify-self: flex-start;
    flex-grow: 1;
    flex-shrink: 0;
    pointer-events: none;
  }

  .filler {
    flex-grow: 1;
    flex-shrink: 1;
  }

  .loginPrompt {
    color: #E9E4C6;
    font-size: 1.25rem;
    margin-right: 0.25rem;
  }

  .username {
    color: #E23E3C;
    font-size: 2.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: 0.2em;
  }
}
