.ClassSelectButton {
  display: block;
  top: 0.5rem;
  height: 9rem;
  width: 15rem;
  margin: 0.5rem;
  color: #e9e4c6;
  background-color: #2f4546;
  background-size: cover;
  --my-color: #ffd800;

  &:hover {
    color: #2f4546;
    --my-color: #2f4546;
  }

  .inner {
    position: relative;
    width: 100%;
    height: 100%;
    border: 0.15rem solid #FFD800;

    &:hover {
      background-color: #ffd800;
    }

    .layout {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;

      .title {
        position: relative;
        top: 0px;
        height: 1.25rem;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
      }

      .description {
        position: relative;
        text-align: left;
        padding: 0.5rem;
        font-size: 1rem;
      }

      .icon {
        background-color: var(--my-color);
        mask-repeat: no-repeat;
        mask-size: 100% 100%;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-size: 100% 100%;
        margin: 0.5rem;
        flex: 1;
      }
    }
  }
}

.ClassSelectDialog {
  .content {
    display: flex;
    margin-top: 1rem;
  }

  .title {
    text-align: center;
  }
}
