.StreamingLiveApplet {
  display: flex;
  flex-direction: column;
  margin-left: -5rem;
  background-color: #2F4546;

  .header {
    color: #2F4546;
    font-size: 1.5rem;
    text-align: center;
    background-color: #FFD800;
    mask: url(/img/ui/headerPanel.svg);
    -webkit-mask: url(/img/ui/headerPanel.svg) 0% 0% / 100% 100%;
    padding-top: 0.1rem;
  }

  .content {
    .loading {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }

    .spinner {
      width: 3rem;
      height: 3rem;
    }

    .empty {
      min-height: 5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      font-size: 1rem;
      text-align: center;
      color: #E9E4C6;
    }

    .item {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      .caption {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        font-size: 1rem;
        margin: 0.25rem;

        .name {
          color: #FFD800;
        }

        .viewers {
          color: #E9E4C6;
        }
      }

      .inner {
        position: relative;
        width: 3rem;
        height: 3rem;
        margin: 0.25rem;
        margin-right: 1rem;

        .image {
          position: absolute;
          top: 0.125rem;
          left: 0.125rem;
          width: 2.75rem;
          height: 2.75rem;
          background-size: contain;
        }

        .border {
          position: absolute;
          width: 3rem;
          height: 3rem;
          background-image: url(/img/ui/mercZone_streamerBorder.svg);
          background-size: contain;
        }
      }
    }
  }

  .bottom {
    background-image: url(/img/ui/panel_bottom.svg);
    background-size: 100% 100%;
    height: 0.5rem;
    width: 100%;
  }
}

.simpleButtonOuter {
  position: relative;
  cursor: pointer;
}

.simpleButtonInner {
  position: relative;
  height: 100%;
  width: 100%;
  --my-color: #FFD800;
  color: var(--my-color);
}

.simpleButtonShadow {
  position: absolute;
  display: none;
}

.simpleButtonImage {
  position: absolute;
  display: none;
}

.simpleButtonInner.hover {
  background-color: #4b6b6d;
  --my-color: #2F4546;
  color: var(--my-color);
}

.simpleButtonInner.pressed {
  left: 0.25rem;
  top: 0.25rem;
}
