html {
    font-size: 20px;
    scrollbar-width: thin;
    scrollbar-color: #FFD800 #4B6E70;
}

::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background-color: #4B6E70;
}

::-webkit-scrollbar-thumb {
    background-color: #FFD800;
}

/*** Colors ***/

.red {
    color: #E23E3C;
}

.yellow {
    color: #FFD800;
}

.dark-blue {
    color: #2F4546;
}

.light-blue {
    color: #4B6E70;
}

.turquoise {
    color: #26C1CA;
}

.white {
    color: #E9E4C6;
}

/*** Text style ***/

.size-1 {
    font-size: 1rem;
}

.size-2 {
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

@font-face {
    font-family: 'NastyMSG';
    src: url('/fonts/NastyMSG.woff2') format('woff2'), url('/fonts/NastyMSG.woff') format('woff');
    unicode-range: U+0041-5A;
    /* Load only uppercase letters */
}

@font-face {
    font-family: 'NastyMSG2';
    src: url('/fonts/NastyMSG2.woff2') format('woff2'), url('/fonts/NastyMSG2.woff') format('woff');
}

.ransom {
    font-family: NastyMSG, NastyMSG2;
    font-weight: normal;
}

/*** Icons ***/

.alert-yellow {
    background-image: url(/img/ui/yellow_alert.svg);
    background-repeat: no-repeat;
    width: 0.5em;
    height: 0.5em;
    display: inline-block;
    vertical-align: middle;
}

/*** Flex ***/

.flex-container-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.flex-container-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    place-content: start;
}

.flex-start {
    align-items: flex-start;
}

.flex-grow {
    flex-grow: 1;
}

.flex-shrink {
    flex-shrink: 1;
}

.flex-start {
    align-items: start;
    justify-content: start;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-end {
    align-items: flex-end;
    justify-content: flex-end;
}

/*** Layout ***/

.w-max {
    width: 100%;
}

.wh-max {
    width: 100%;
    height: 100%;
}

.scrollbox {
    overflow-x: hidden;
    overflow-y: scroll;
}

/*** Background layers ***/

.bgFilter {
    background-image: url(/img/ui/mercZone_bgFilter_colored.png);
    background-repeat: repeat;
    background-size: 16px 16px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
}

.background-layer-parent {
    position: relative;
}

.background-layer-content {
    position: relative;
}

.background-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.background-layer-watch {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mask: url(/img/ui/mercZone_TabIcon_watch.svg);
    -webkit-mask: url(/img/ui/mercZone_TabIcon_watch.svg) 0% 0% / 100% 100%;
    background-color: #4B6E70;
}

.background-layer-side {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mask: url(/img/ui/mercZone_playerName.svg);
    -webkit-mask: url(/img/ui/mercZone_playerName.svg) 0% 0% / 100% 100%;
    background-color: #4B6E70;
}

/*** Panels ***/

.panel {
    width: 100%;
    max-height: 46.25rem;
    background-color: #2F4546;
}

.panel .header {
    background-color: #4B6E70;
    width: calc(100% - 1rem);
    height: 4rem;
    flex-shrink: 0;
    font-size: 2.5rem;
    color: #2F4546;
    padding-left: 1rem;
    mask: url(/img/ui/headerPanel.svg);
    -webkit-mask: url(/img/ui/headerPanel.svg) 0% 0% / 100% 100%;
}

.panel .header span {
    height: 100%;
    vertical-align: middle;
}

/*** Video links ***/

.video-box {
    width: 15.8rem;
    height: 9.5rem;
    border-color: #FFD800;
    border-style: solid;
    border-width: 0.25rem;
    color: #dfdfdf;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    transition: background-size 0.25s ease-in-out;
    position: relative;
    overflow: hidden;
}

.video-box:hover {
    background-size: 110%;
}

.video-box .label-container {
    position: absolute;
    bottom: 0;
    transition: bottom 0.25s ease-in-out;
}

.video-box:hover .label-container {
    bottom: 1.5rem;
}

.video-box .label {
    font-size: 1.25rem;
    max-width: 16rem;
    background-color: #2F4546;
    width: fit-content;
    padding: 0.25rem;
    overflow: hidden;
    white-space: nowrap;
}

.video-box .link {
    position: absolute;
    bottom: -1.5rem;
    font-size: 1rem;
    height: 1.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(0, 0, 0, 0.75);
    font-weight: bold;
    transition: bottom 0.25s ease-in-out;
}

.video-box:hover .link {
    bottom: 0;
}

.video-box .link span:after {
    display: inline-block;
    background-image: url(/img/ui/external-link.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1rem;
    height: 1rem;
    content: " ";
    position: relative;
    top: 0.125rem;
    padding-right: 0.125rem;
    margin-left: 0.5rem;
}

.video-box .viewers {
    position: absolute;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    height: 1.375rem;
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.25rem;
    color: #dfdfdf;
}

.video-box .viewers span:after {
    display: inline-block;
    background-image: url(/img/ui/viewers.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.25rem;
    height: 1rem;
    content: " ";
    position: relative;
    top: 0.166rem;
    margin-left: 0.25rem;
}

/*** Profile ***/

table.profile {
    width: 100%;
    margin-top: 0.25em;
    font-size: 1em;
    border-spacing: 0;
}

table.profile tr {
    color: #dfdfdf;
}

table.profile tr:nth-child(odd) {
    background-color: #385253;
}

table.profile tr td {
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    line-height: 1.25rem;
}

table.profile tr td:nth-child(1) {
    color: #26C1CA;
    padding-left: 2rem;
}

table.profile.right tr td:nth-child(1) {
    text-align: left;
}

table.profile.right tr td {
    text-align: right;
}

table.profile.center tr td:nth-child(1) {
    text-align: left;
    padding-left: 1rem;
}

table.profile.center tr td {
    text-align: center;
    padding-right: 0;
}

/*** Intel ***/

.message-item {
    border-color: #4B6E70;
    background-color: #4B6E70;
    border-width: 0.125rem;
    border-style: solid;
    margin-bottom: 0.5rem;
    height: 2.5rem;
    flex-shrink: 0;
    align-items: stretch;
}

.message-item:last-child {
    margin-bottom: 0;
}

.message-item .icon-container {
    width: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    font-size: .75rem;
    /* for the notification icon */
}

.message-item .title {
    color: #4B6E70;
    background-color: #2F4546;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 0;
}

.message-item .title .title-bg {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    font-size: 1rem;
    min-width: 0;
    height: 100%;
}

.message-item .title span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message-item.selected {
    border-color: #FFD800;
    background-color: #FFD800;
}

.message-item.selected .title {
    color: #FFD800;
    background-color: #2F4546;
}

.message-item.selected .title .title-bg {
    background: url(/img/ui/mercZone_bgFilter.png);
}

/*** ID based ***/

#build-notes-link a {
    text-decoration: none;
    color: #2F4546;
}

#build-notes-link a:hover {
    color: #FFD800;
}

.dg.ac {
    z-index: 2 !important;
    margin-top: 20px;
}