.lds-roller {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
}

.lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 50% 50%;
    position: absolute;
    width: 100%;
    height: 100%;
}

.lds-roller div:after {
    content: ' ';
    display: block;
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    margin: -0.25rem 0 0 -0.25rem;
    background: #e9e4c6;
}

.lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
    top: 78.1%;
    left: 78.1%;
}

.lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
    top: 84.3%;
    left: 70.3%;
}

.lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
    top: 89%;
    left: 60.9%;
}

.lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
    top: 90.6%;
    left: 50%;
}

.lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
    top: 89%;
    left: 39%;
}

.lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
    top: 84.3%;
    left: 29.6%;
}

.lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
    top: 78.1%;
    left: 21.8%;
}

.lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
    top: 70.3%;
    left: 15.6%;
}

@keyframes lds-roller {
    0% {
        transform: rotate(0deg);
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(360deg);
    }
}

.buttonHelpRoot {
    pointer-events: none;
    position: absolute;
    top: 15rem;
    right: 2.5rem;
    display: block;
}

.gunSwitchRoot {
    position: absolute;
    bottom: 15rem;
    left: 50%;
    display: block;
    transform: translate(-50%, 0);
    pointer-events: none;
}

.startPointerLockRoot {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.transferRoomMessage {
    display: block;
    background: #2f4546;
    color: #e9e4c6;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
}

.startPointerLockMessage {
    display: block;
    background: #2f4546;
    color: #e9e4c6;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
}

.buttonRemap {
    width: 180px;
    text-align: left;
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
    white-space: nowrap;
}

.buttonRemap.remapMode {
    text-align: center;
}

.buttonHelp {
    background: #2f4546cc;
    color: #e9e4c6;
    font-size: 1rem;
    padding: 0.5em;
    margin-bottom: 0.25em;
}

.buttonHelpRightSide {
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background: linear-gradient( 6deg, rgba(0, 0, 0, 0.6895133053221288) 0%, rgba(32, 32, 32, 0.8323704481792717) 37%, rgba(0, 0, 0, 0.4906337535014006) 100%);
    text-shadow: 1px 1px 4px #000000;
    color: #dfdfdf;
    font-size: 14px;
    border-bottom-right-radius: unset;
    border-bottom-left-radius: 10px;
    padding-right: 10px;
    padding-left: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 6px;
}

.moveButtonRow {
    text-align: center;
}

.moveButtonRow>img {
    margin-right: -0.35rem;
    margin-top: -0.35rem;
    margin-bottom: -0.35rem;
    margin-left: -0.35rem;
}

.buttonHelpImg {
    vertical-align: middle;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: -0.4rem;
    margin-bottom: -0.4rem;
}

.buttonHelpSpan {
    vertical-align: middle;
}

.endGameTitleBacking {
    font-size: 5rem;
    white-space: nowrap;
}

.playerListTooltipText {
    color: #dfdfdf;
    font-size: 12px;
    width: 200px;
}

.playerListTooltipText .statValue {
    position: absolute;
    right: 0px;
    padding-right: 8px;
    text-align: right;
}

.logRoot {
    pointer-events: none;
    position: absolute;
    right: 2.5rem;
    top: 7.5rem;
    color: #e9e4c6;
    text-shadow: 1px 1px 0px #2f4546;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    padding-right: 0.5rem;
    width: 20rem;
    height: 25rem;
}

.LogMessage {
    position: absolute;
    width: 100%;
    height: 1.5rem;
    cursor: pointer;
    text-align: right;
    display: flex;
    text-shadow: 1px 1px 0px #2f4546;
    font-size: 1rem;
    padding: 0px;
    overflow: hidden;
    white-space: nowrap;
}

.LogMessage .verb {
    color: #eb4040;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.LogMessage .player {
    color: #e9e4c6;
}

.LogMessage .local {
    color: #ffd800;
}

.modeDisplayRoot {
    pointer-events: none;
    position: absolute;
    left: 50%;
    top: 15%;
    color: #dfdfdf;
    text-shadow: 3px 3px 8px #000000;
    font-size: 40px;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    width: 50%;
    height: 300px;
    transform: translate(-50%, 0);
}

.modeDisplayRootGlobal {
    pointer-events: none;
    position: absolute;
    left: 25%;
    right: 25%;
    top: 12%;
    height: 25%;
    color: #ffd800;
    text-shadow: 2px 2px 0px #2f4546;
    font-size: 2.5rem;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.objectiveSubGoal {
    position: absolute;
    right: 0px;
    bottom: -40px;
    color: #dfdfdf;
    text-shadow: 3px 3px 8px #000000;
    font-size: 16px;
    text-align: right;
    overflow: visible;
    white-space: nowrap;
    height: 40px;
    display: block;
}

.announceRoot {
    pointer-events: none;
    position: absolute;
    left: 50%;
    bottom: 60%;
    color: #e9e4c6;
    font-size: 5rem;
    text-align: center;
    overflow: visible;
    white-space: nowrap;
    width: 50%;
    height: 300px;
    transform: translate(-50%, 0);
}

.announceMessage {
    position: absolute;
    width: 100%;
    height: 6rem;
    text-align: center;
    display: block;
    text-shadow: 0.5rem 0.5rem 0 #2f4546;
    padding: 0px;
    overflow: visible;
    white-space: nowrap;
    left: 50%;
    transform: translate(-50%, 0);
}

.announceMessage .verb {
    color: #eb4040;
    padding-right: 5px;
    padding-left: 5px;
}

.announceMessage .player {
    color: #e9e4c6;
}

.announceMessage .local {
    color: #ffd800;
}

.pingGroupContainer {
    position: absolute;
    display: block;
    right: 0px;
    top: 0px;
    padding: 20px;
    transition: top 0.2s;
}

.pingGroupShown {
    top: 5rem;
}

.menuBody {
    display: flex;
    flex-direction: row;
    padding-left: 2rem;
    padding-right: 2rem;
}

.menuSide {
    width: 8rem;
    flex-shrink: 0;
    margin-right: 1rem;
}

.menuSideRight {
    width: 9rem;
    flex-shrink: 0;
}

.menuContent {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    min-width: 0;
}

.notifyButtonsContainer {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.notifyButtonsPrompt {
    background-color: #EB4040;
    padding: 1rem;
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #E9E4C6;
}

.notifyButtonsPrompt:after {
    content: '';
    position: absolute;
    bottom: 56%;
    left: 92%;
    width: 0;
    height: 0;
    border: 1rem solid transparent;
    border-top-color: #EB4040;
    border-bottom: 0;
    border-left: 0;
    margin-left: -0.5rem;
    margin-bottom: -1rem;
}

.chatContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 1rem;
    top: 20.5rem;
    height: 20rem;
    width: 25rem;
    pointer-events: none;
}

.settingsDialogContents {
    display: block;
    max-width: calc(100% - 4.75rem);
    padding: 0px 40px;
    overflow: hidden;
    transition: width 0.2s, height 0.2s;
}

.settingsSlider {
    padding: 22px 0px;
    width: 400px;
}

.remapCatcher {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    z-index: 10000;
}

a {
    text-decoration: none;
}

.menuTab-notification {
    background-image: url(/img/ui/mercZone_TabIcon_notification.svg);
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    right: 0.25em;
    top: 0.25em;
}

.titleBarOuter {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 5rem;
}

.titleBarTabOuter {
    position: relative;
    --font-size: 1.5rem;
    --font-vcenter: 0.6;
    font-size: var(--font-size);
    width: 8rem;
    height: 5rem;
    top: -2rem;
    display: inline-table;
    transition: transform 0.25s, box-shadow;
    cursor: pointer;
}

.titleBarTabOuter.plain {
    top: 0px;
    height: 4rem;
    width: 100%;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    white-space: nowrap;
}

.titleBarTabOuter.plain.hover {
    transform: translate(0px, -5px);
    box-shadow: 1px 9px 10px rgba(0, 0, 0, 0.25);
}

.titleBarTabOuter.hover {
    transform: translate(-3px, 10px);
}

.titleBarTabStart {
    position: relative;
    height: 6.5rem;
    top: -2rem;
    display: inline-table;
    transform: translateX(-0.4rem);
}

.titleBarTabInner {
    position: absolute;
    left: -1rem;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
    display: table;
    vertical-align: middle;
    color: #efefef;
    text-shadow: 0px 0px 20px rgba(255, 0, 0, 0.5);
    transition: color 0.15s, text-shadow 0.5s;
}

.titleBarTabCenter {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 5rem);
}

.titleBarTabInner.plain {
    left: 0px;
    top: 0px;
}

.titleBarTabCenter.plain {
    transform: translate(-50%, calc(var(--font-size) * var(--font-vcenter)));
}

.titleBarTabInner.disabled {
    color: #1f1f1f;
}

.titleBarTabInner.hover {
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), 0px 0px 30px rgba(255, 0, 0, 0.5);
}

.titleBarTabInner.pressed .titleBarTabInner.selected {
    color: #ffffff;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1), -5px -5px 20px rgba(255, 0, 0, 1), -5px -5px 20px orange, 0px 0px 40px rgba(255, 255, 0, 1), 0px 0px 30px rgba(255, 255, 255, 1);
}

.titleBarTabInnerLower {
    position: absolute;
    left: 0px;
    right: 0px;
    top: -10rem;
    bottom: 0px;
    border-left: 1px solid hsla(0, 0%, 100%, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: skewX(-16deg);
    background-color: hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    transition: background-color 0.25s, border-bottom-color 0.25s, box-shadow 0.25s;
    z-index: 0;
    overflow: visible;
    white-space: nowrap;
}

.titleBarTabInnerLower.plain {
    top: 0px;
    border-top: 1px solid hsla(0, 0%, 100%, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    transform: none;
    border-radius: 4px;
}

.titleBarTabInnerLower.disabled {
    background-color: hsla(0, 0%, 30%, 0.1);
}

.titleBarTabInnerLower.hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
}

.titleBarTabInnerLower::after {
    content: ' ';
    box-shadow: none;
    z-index: 10;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    transition: box-shadow 0.25s;
}

.titleBarTabInnerLower.pressed::after {
    box-shadow: 0px 0px 2rem yellow, 0px 0px 4rem orange;
}

.titleBarTabInnerLower.selected::after {
    box-shadow: none;
    /* 0px 0px 2rem yellow;*/
}

.titleBarTabInnerLower::before {
    content: ' ';
    opacity: 0;
    border: 3px solid yellow;
    transition: opacity 0.25s;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-clip: border-box;
    background-image: url('/img/ui/YellowGlow.png');
    background-repeat: repeat-y;
    background-size: 100% 256px;
    /* turning off animation for performance.
  animation-name: MOVE-YELLOWGLOW;
	animation-duration: 10s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;*/
}

.titleBarTabInnerLower.pressed::before {
    opacity: 1;
}

.titleBarTabInnerLower.selected::before {
    opacity: 0.6;
}

.titleBarTabInnerStart {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    display: table;
    vertical-align: middle;
    line-height: 64px;
    color: #efefef;
}

.titleBarTabInnerStart.dark::before {
    background: #2f4546;
    z-index: -1;
    color: #e9e4c6;
}

.titleBarTabInnerStart::before {
    content: ' ';
    position: absolute;
    left: -20px;
    right: 0px;
    top: -5rem;
    bottom: 0px;
    border-left: 1px solid hsla(0, 0%, 100%, 0.3);
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    transform: skewX(-16deg);
    background-color: hsla(0, 0%, 100%, 0.1);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border-bottom-right-radius: 0.5rem;
}

.mainMenuTabArea {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 5.5rem;
    bottom: 5rem;
    margin: unset;
}

.mainMenuTabArea p {
    margin: unset;
}

.mainMenuTabViewport {
    position: absolute;
    /*border: 1px solid #8F8FFF;*/
    top: 0px;
    left: 50%;
    width: 80rem;
    height: 100%;
    transform: translate(-50%, 0);
}

.scroll {
    scroll-behavior: auto;
}

.findingmatch {
    /*position: absolute;*/
    font-size: 1.5rem;
    line-height: 1.4rem;
    left: 0rem;
    right: 0rem;
    margin: 1rem;
    top: 0rem;
    bottom: 0.5rem;
    text-align: left;
}

.findingmatchinfo {
    font-size: 1rem;
    font-weight: normal;
}

.subMenuBar {
    position: absolute;
    top: 0.5rem;
    left: 25%;
    z-index: 1;
    background: #2f4546;
}

.subMenuBarContainer {
    position: absolute;
    top: 3rem;
    left: 18.9rem;
    width: 75rem;
    height: 2.5rem;
    overflow: hidden;
    white-space: nowrap;
}

.subMenuBarSlider {
    position: absolute;
    top: 0px;
    left: 1rem;
    width: 72.5rem;
    height: 100%;
    transform: translateY(-110%);
    transition: transform 0.25s ease-in-out;
}

.subMenuBarBackground {
    background: linear-gradient(90deg, rgba(13, 14, 27, 1) 0%, rgba(1, 6, 18, 1) 78%, rgba(0, 0, 0, 0) 100%);
    border-bottom-left-radius: 0.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: skewX(16deg);
}

.subMenuBarSlider.shown {
    transform: translateY(0%);
}

.subMenuTabOuter {
    position: relative;
    width: 10rem;
    height: 2rem;
    top: -0.5rem;
    display: inline-table;
}

.subMenuTabInnerLower {
    position: absolute;
}

.subMenuTabInner {
    position: absolute;
    left: 0;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    display: table;
    vertical-align: middle;
    color: #e9e4c6;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    transition: color 0.15s, text-shadow 0.5s;
}

.subMenuTabInner.hover {
    color: #ffd800;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 1), 0px 0px 4px rgba(255, 255, 255, 1);
}

.subMenuTabInner.pressed {
    color: yellow;
    text-shadow: 0px 0px 20px yellow, 0px 0px 4px orange, 0px 0px 40px orangered;
}

.subMenuTabInner.selected {
    color: orange;
    text-shadow: 0px 0px 10px yellow, 0px 0px 4px orangered;
}

.subMenuTabCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.stickerDisplay {
    display: block;
    opacity: 0;
    position: absolute;
    transition: opacity 0.25s, transform 0.1s;
}

.stickerStemRoot {
    position: absolute;
    transform: translate(-50%, -100%);
}

.innerSticker {
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(0.05);
    border-radius: 2.5rem;
    border: 10px solid white;
    transition: transform 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.575);
}

.stickerArrow {
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    background: white;
    transform: translate(-50%, -50%) scaleY(3) rotate(45deg);
    transform-origin: center center;
}

.stickerDisplay.show {
    opacity: 1;
}

.innerSticker.show {
    transform: scale(1);
}

.stickerDisplay.hide {
    opacity: 0;
}

.innerSticker.hide {
    transform: scale(0.05);
}

.firebaseui-idp-icon-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.firebaseui-idp-icon {
    border: none;
    display: inline-block;
    height: 1rem;
    vertical-align: middle;
    width: 1rem;
}

firebaseui-idp-text.firebaseui-idp-text-long {
    display: table-cell;
}

.firebaseui-idp-text {
    color: #fff;
    display: table-cell;
    padding-left: 0.5rem;
    text-transform: none;
    vertical-align: middle;
}

.nextRoundStart {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 25rem;
    height: 25rem;
    justify-content: center;
    text-shadow: 0.25rem 0.25rem 0px #2f4546;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.voteNumber {
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: 0.5rem 1rem;
    color: #ffd800;
    background: #2f4546;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 1.5rem;
}

.topVoteNumber {
    color: #e9e4c6;
    background: #eb4040;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.endRoundMessage {
    font-size: 6rem;
    margin-top: 0.2em;
}

.extraContext {
    pointer-events: none;
    position: absolute;
    bottom: 200px;
    right: 40%;
    display: block;
}

.chatTextBox {
    min-width: 2.5rem;
    width: fit-content;
    width: -moz-fit-content;
    height: 1.6rem;
    margin: 0.125rem;
    background: #2f4546cc;
    color: #e9e4c6;
    font-size: 1rem;
    padding: 0.25rem;
    opacity: 0.25;
    border: 1px solid rgba(255, 255, 255, 0.2);
    transition: min-width 0.25s, border-color 0.25s, opacity 0.25s;
    pointer-events: all;
}

.chatTextBox.active {
    min-width: 24.1rem;
    opacity: 1;
    border: 1px solid transparent;
}

.chatScroll {
    height: 5rem;
    margin: 0.125rem;
    background-color: #2f454600;
    color: #e9e4c6;
    text-shadow: 2px 2px 0px #2f4546;
    font-size: 1rem;
    padding: 0.25rem;
    transition: background-color 0.25s, height 0.25s, text-shadow 0.25s;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    user-select: text;
}

.chatScroll.active {
    height: 10rem;
    background: #2f4546cc;
    text-shadow: 1px 1px 0px transparent;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatTextField {
    flex: 1 1 0%;
    padding: unset;
    color: #dfdfdf;
    background: unset;
    border: unset;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1rem;
    width: calc(100% - 1rem);
}

.chatTextField:focus {
    outline: unset;
}

.chatRow {
    display: flex;
    position: relative;
}

.chatScroll::-webkit-scrollbar {
    width: 0.5rem;
}

.chatScroll::-webkit-scrollbar-track {
    background: transparent;
}

.chatScroll::-webkit-scrollbar-thumb {
    background: #dfdfdf;
    border-radius: 0.5rem;
}

.chatName {
    position: relative;
    z-index: 1;
    cursor: pointer;
    user-select: text;
}

.chatText {
    cursor: text;
    user-select: text;
}

.chatName.hover {
    color: white;
}

.chatNamePopupAnchor {
    position: absolute;
    right: 1.5rem;
    bottom: 1rem;
}

.chatNameHighlight {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: transparent;
    border-radius: 0.25rem;
    transition: transform 0.1s, background-color 0.1s;
    transform-origin: center;
    transform: scaleY(0);
    z-index: -1;
}

.chatTalking {
    width: 1rem;
    height: 1rem;
    fill: currentColor;
    vertical-align: bottom;
    margin-left: 0.5rem;
    transform-origin: center;
}

@keyframes chatTalkingPulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    90% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

.chatTalking.pulse {
    animation: chatTalkingPulse 0.35s ease-in-out 0s 1;
}

.chatNameHighlight.hover {
    background-color: rgba(255, 150, 56, 0.75);
    transform: scaleY(1);
}

.chatNameHighlight.pressed {
    background-color: rgba(255, 150, 56, 0.5);
    transform: scale(1.05, 1.1);
}

.roundShopIcon {
    background-color: var(--my-color);
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    margin: 0.5rem;
    margin-bottom: 0;
}

.svgButtonOuter {
    position: relative;
    min-width: 2.5em;
    width: fit-content;
    width: -moz-fit-content;
    cursor: pointer;
    margin-right: 0.25em;
}

.svgButtonShadow {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton01_shadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: #2f4546;
}

.svgPanel .svgButtonShadow {
    background-image: url(/img/ui/mercZone_genericButton01_shadowLight.svg);
}

.svgButtonImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton01.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButtonImage.hover {
    background-image: url(/img/ui/mercZone_genericButton01_hover.svg);
}

.svgButtonImage.disabled {
    background-image: url(/img/ui/mercZone_genericButton01_disabled.svg);
}

.svgButtonImage.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButtonInner {
    position: relative;
    display: flex;
    padding: 0.25em 0.5em;
    font-size: 2em;
    color: #e9e4c6;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    top: -10%;
    min-width: 2em;
}

.svgButtonInner.hover {
    color: #2f4546;
}

.svgButtonInner.pressed {
    left: 0.125em;
    top: calc(0.125em - 10%);
}

.svgButtonInner.disabled {
    color: #24bcbc;
}

.svgPlayHomeButtonOuter {
    position: relative;
    padding-top: 2.5em;
    cursor: pointer;
}

.svgPlayHomeButtonShadow {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    width: 100%;
    height: 100%;
    fill: #ffd800;
    background-image: url(/img/ui/mercZone_playButtonHome_shadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgPlayHomeButtonImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_playButtonHome.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgPlayHomeButtonImage.hover {
    background-image: url(/img/ui/mercZone_playButtonHome_hover.svg);
}

.svgPlayHomeButtonImage.disabled {
    background-image: url(/img/ui/mercZone_playButtonHome_disabled.svg);
}

.svgPlayHomeButtonImage.pressed {
    left: 0.5em;
    top: 0.5em;
}

.svgPlayHomeButtonInner {
    position: relative;
    display: block;
    padding: 0.25em 0.75em;
    top: 0.25em;
    font-size: 2em;
    color: #e9e4c6;
}

.svgPlayHomeButtonInner.hover {
    color: #2f4546;
}

.svgPlayHomeButtonInner.pressed {
    left: 0.25em;
    top: 0.5em;
}

.svgButton2Shadow {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 100%;
    height: 100%;
    fill: #2f4546;
    background-image: url(/img/ui/mercZone_genericButton02_shadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgPanel .svgButton2Shadow {
    background-image: url(/img/ui/mercZone_genericButton02_shadowLight.svg);
}

.svgButton2Image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton02.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButton2Image.hover {
    background-image: url(/img/ui/mercZone_genericButton02_hover.svg);
}

.svgButton2Image.disabled {
    background-image: url(/img/ui/mercZone_genericButton02_disabled.svg);
}

.svgButton2Image.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButton3Shadow {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 100%;
    height: 100%;
    fill: #2f4546;
    background-image: url(/img/ui/mercZone_genericButton03_shadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgPanel .svgButton3Shadow {
    background-image: url(/img/ui/mercZone_genericButton03_shadowLight.svg);
}

.svgButton3Image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton03.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButton3Image.hover {
    background-image: url(/img/ui/mercZone_genericButton03_hover.svg);
}

.svgButton3Image.disabled {
    background-image: url(/img/ui/mercZone_genericButton03_disabled.svg);
}

.svgButton3Image.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButton4Shadow {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 100%;
    height: 100%;
    fill: #2f4546;
    background-image: url(/img/ui/mercZone_genericButton04_shadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgPanel .svgButton4Shadow {
    background-image: url(/img/ui/mercZone_genericButton04_shadowLight.svg);
}

.svgButton4Image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton04.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButton4Image.hover {
    background-image: url(/img/ui/mercZone_genericButton04_hover.svg);
}

.svgButton4Image.disabled {
    background-image: url(/img/ui/mercZone_genericButton04_disabled.svg);
}

.svgButton4Image.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButton4DefaultImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_defaultButton04.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButton4DefaultImage.hover {
    background-image: url(/img/ui/mercZone_genericButton04_hover.svg);
}

.svgButton4DefaultImage.disabled {
    background-image: url(/img/ui/mercZone_defaultButton04_disabled.svg);
}

.svgButton4DefaultImage.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButtonInner4 {
    position: relative;
    display: flex;
    padding: 0.25em 0.5em;
    font-size: 2em;
    color: #2f4546;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    top: -10%;
    min-width: 2em;
}

.svgButtonInner4.hover {
    color: #2f4546;
}

.svgButtonInner4.pressed {
    left: 0.125em;
    top: 0.125em;
}

.svgCloseButtonOuter {
    position: relative;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}

.svgCloseButtonShadow {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgCloseButtonImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_closeButton.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgCloseButtonImage.hover,
.hover .svgCloseButtonImage {
    background-image: url(/img/ui/mercZone_closeButton_hover.svg);
}

.svgCloseButtonImage.pressed {
    left: 0.25rem;
    top: 0.25rem;
}

.svgCloseButtonInner {
    position: relative;
    display: block;
    padding: 0.5rem 1.5rem;
    top: 0.25rem;
    font-size: 2rem;
    color: #e9e4c6;
}

.svgPlayHomeButtonInner.hover {
    color: #2f4546;
}

.svgPlayHomeButtonInner.pressed {
    left: 0.25em;
    top: 0.5em;
}

.logoArea {
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    width: 25rem;
}

.buttonArea {
    width: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.buttonArea-inner {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    font-size: 1.3rem;
    height: 100%;
}

.svgIconButtonOuter {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    cursor: pointer;
}

.svgIconButtonInner {
    color: white;
}

.svgIconButtonShadow {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgIconButtonImageBase {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgIconSettingsButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_settings.svg);
}

.svgIconSettingsButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_settings_hover.svg);
}

.svgIconButtonImageBase.pressed {
    left: 0.25rem;
    top: 0.25rem;
}

.svgIconHomeButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_home.svg);
}

.svgIconHomeButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_home_hover.svg);
}

.svgIconOneSignalButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_oneSignal.svg);
}

.svgIconOneSignalButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_oneSignal_hover.svg);
}

.svgIconOneSignalOffButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_oneSignalOff.svg);
    filter: brightness(1.0);
    transition: filter 1s ease-out;
}

.notifyButtonsContainer.highlight .svgIconOneSignalOffButtonImage {
    filter: brightness(3.0);
}

.svgIconOneSignalOffButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_oneSignalOff_hover.svg);
}

.svgIconFullscreenButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_fullscreen.svg);
}

.svgIconFullscreenButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_fullscreen_hover.svg);
}

.svgIconWindowedButtonImage {
    background-image: url(/img/ui/mercZone_navIcon_windowed.svg);
}

.svgIconWindowedButtonImage.hover {
    background-image: url(/img/ui/mercZone_navIcon_windowed_hover.svg);
}

.endGameWeaponsCrossed {
    background-image: url(/img/ui/mercZone_weaponsCrossedShadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 25em;
    height: 25em;
    margin-top: 3rem;
}

.svgButtonNoBorderShadow {
    position: absolute;
    left: 0.25em;
    top: 0.25em;
    width: 100%;
    height: 100%;
    color: #2f4546;
}

.svgButtonNoBorderImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(/img/ui/mercZone_genericButton01_noborder.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.svgButtonNoBorderImage.hover {
    background-image: url(/img/ui/mercZone_genericButton01_noborder_hover.svg);
}

.svgButtonNoBorderImage.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButtonNoBorderImage.selected {
    background-image: url(/img/ui/mercZone_genericButton01_noborder_hover.svg);
}

.svgButtonNoBorderInner {
    position: relative;
    display: flex;
    padding-top: 0.125em;
    padding-bottom: 0.125em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    top: -10%;
    font-size: 2em;
    color: #ffd800;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    text-align: center;
    min-width: 2rem;
}

.svgButtonNoBorderInner.hover {
    color: #2f4546;
}

.svgButtonNoBorderInner.pressed {
    left: 0.25em;
    top: calc(0.25em - 10%);
}

.svgButtonNoBorderInner.selected {
    color: #2f4546;
}

.svgButtonNoBorderImageLight {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    mask: url(/img/ui/mercZone_genericButton01_noborder.svg);
    -webkit-mask: url(/img/ui/mercZone_genericButton01_noborder.svg) 0% 0% / 100% 100%;
    background-color: #e9e4c6;
}

.svgButtonNoBorderImageLight.hover {
    mask: url(/img/ui/mercZone_genericButton01_noborder_hover.svg);
    -webkit-mask: url(/img/ui/mercZone_genericButton01_noborder_hover.svg) 0% 0% / 100% 100%;
    background-color: #e9e4c6;
}

.svgButtonNoBorderImageLight.pressed {
    left: 0.25em;
    top: 0.25em;
}

.svgButtonNoBorderImageLight.selected {
    mask: url(/img/ui/mercZone_genericButton01_noborder_hover.svg);
    -webkit-mask: url(/img/ui/mercZone_genericButton01_noborder_hover.svg) 0% 0% / 100% 100%;
    background-color: #e9e4c6;
}

.svgButtonNoBorderInnerLight {
    position: relative;
    display: flex;
    padding: 0.25em 2em;
    font-size: 1em;
    font-weight: bold;
    color: #304546;
    justify-content: center;
}

.svgButtonNoBorderInnerLight.pressed {
    left: 0.5em;
    top: 0.25em;
}

.menuTabBar {
    background-color: #2f4546;
    display: inline-block;
    padding: 0.25rem;
}

.menuTabOuter {
    position: relative;
    width: 7rem;
    height: 7rem;
    cursor: pointer;
    margin: 0.25rem;
    margin-bottom: 0.5rem;
}

.menuTabInner {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1rem;
    --my-color: #2f4546;
    color: var(--my-color);
    min-width: 2em;
}

.menuTabShadow {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.menuTabImage {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url(/img/ui/mercZone_Tab_back.svg);
}

.menuTabImage.hover {
    background-image: url(/img/ui/mercZone_Tab_back_selected.svg);
}

.menuTabImage.selected {
    background-image: url(/img/ui/mercZone_Tab_back_selected.svg);
}

.menuTabImage.pressed {
    left: 0.25rem;
    top: 0.25rem;
}

.menuTabInner.pressed {
    left: 0.25rem;
    top: 0.25rem;
}

.killStreakApplet {
    position: absolute;
    pointer-events: none;
    left: calc(-5rem + 50%);
    bottom: 30%;
}

@keyframes rotateInCW {
    from {
        transform: rotate3d(0, 1, 0, -270deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

@keyframes rotateInCWCenter {
    from {
        transform: rotate3d(0, 1, 0, -270deg) translate(-50%, 0);
    }
    to {
        transform: rotate3d(0, 1, 0, 0deg) translate(-50%, 0);
    }
}

@keyframes rotateInCCW {
    from {
        transform: rotate3d(0, 1, 0, 270deg);
    }
    to {
        transform: rotate3d(0, 1, 0, 0deg);
    }
}

.killStreakCircleOuter {
    position: absolute;
    perspective-origin: center center;
    perspective: 50rem;
    animation: rotateInCW 0.2s ease-in 0s 1 both;
}

.killStreakCircleInner {
    position: absolute;
    perspective-origin: center center;
    perspective: 50rem;
    animation: rotateInCCW 0.2s ease-in 0.1s 1 both;
}

.killStreakSkull {
    position: absolute;
    perspective-origin: center center;
    perspective: 50rem;
    animation: rotateInCW 0.2s ease-in 0.2s 1 both;
}

.killStreakKillStreak {
    position: absolute;
    top: 1rem;
    left: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    perspective-origin: center center;
    perspective: 50rem;
    animation: rotateInCCW 0.2s ease-in 0.2s 1 both;
}

.killStreakKillName {
    position: absolute;
    top: 9.5rem;
    left: 5rem;
    perspective-origin: center center;
    perspective: 100rem;
    animation: rotateInCWCenter 0.2s ease-in 0.2s 1 both;
}

.main-menu-description p {
    margin: 0.75em;
}

.main-menu-description h3 {
    margin: 1.25rem;
    font-size: 2.5rem;
    font-family: 'NastyMSG2';
    color: #ffd800;
    font-weight: normal;
    font-style: normal;
}

/* New modular stuff */

/* ================= */

/* Colors */

.gray-shadow {
    text-shadow: 0.5rem 0.5rem 0px #2f4546;
}

.alpha50 {
    opacity: 50%;
}

/* Text */

.center {
    text-align: center;
}

/* Layout */

.layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.overlay-parent {
    position: relative;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wh45 {
    width: 22.5rem;
    height: 22.5rem;
}

.wh4 {
    width: 2rem;
    height: 2rem;
}

.h-max {
    height: 100%;
}

/* Images */

.weapons-crossed {
    background-image: url(/img/ui/mercZone_weaponsCrossedShadow.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.lock {
    background-image: url(/img/ui/lock.svg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* Controls */

.dropdown {
    background-color: #e9e4c6;
    color: #304546 !important;
    flex: 0 1 0%;
    border-bottom: 0 !important;
    margin: 0.25em;
}

.dropdown:after {
    border-bottom: 0 !important;
}

.dropdown>div {
    padding-left: 0.75em;
    padding-top: 0.25em;
    padding-right: 1.75em;
    padding-bottom: 0.25em;
    font-size: 1em;
    line-height: 1.2em;
    font-weight: bold;
}

.dropdown>div:focus {
    background-color: inherit;
}

.dropdown>svg {
    color: #304546;
    margin-left: -0.75em;
    transform: scale(1.25);
    margin-right: 0.125em;
}

.dropdown-item {
    color: #304546;
    font-size: 1em;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Specific */

.ad-h90 {
    height: 90px;
}

.currency-display-idle {
    opacity: 0;
    position: absolute;
    left: 100%;
    margin-left: 1rem;
    top: 4rem;
    white-space: nowrap;
}

.currency-display-active {
    opacity: 1;
    position: absolute;
    left: 100%;
    margin-left: 1rem;
    top: 0;
    white-space: nowrap;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}

.currency-display-to-idle {
    opacity: 0;
    position: absolute;
    left: 100%;
    margin-left: 1rem;
    top: -4rem;
    white-space: nowrap;
    transition: opacity 0.5s ease-out, top 0.5s ease-out;
}