html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

canvas {
    display: block;
}

body {
    margin: 0;
}

#unity-container {
    width: 100%;
    height: 100%;
}

#unity-canvas {
    width: 100%;
    height: 100%;
    /*background: #5e4600;*/
    background: #000000;
    background-image: linear-gradient(#3c3e41, #262829);
    box-shadow: inset 0 0 200px black;
}

#loading-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#unity-loading-bar {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#unity-logo {
    animation: shake 0.4s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    text-align: center;
}

#unity-logo img {
    max-width: 65%;
}

#unity-progress-bar-empty {
    width: 50%;
    height: 24px;
    margin: 10px 20px 20px 10px;
    text-align: left;
    border: 1px solid rgb(122, 122, 122);
    padding: 2px;
}

#unity-progress-bar-full {
    width: 0%;
    height: 100%;
    background: rgb(253, 200, 53);
}

.light #unity-progress-bar-empty {
    border-color: black;
}

.light #unity-progress-bar-full {
    background: black;
}

#unity-fullscreen-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 38px;
    height: 38px;
    background: url('fullscreen-button.png') no-repeat center;
    background-size: contain;
}

.spinner,
.spinner:after {
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.spinner {
    margin: 10px;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    transform: translateZ(0);
    animation: spinner-spin 1.1s infinite linear;
}

@keyframes spinner-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: scale(1.1, 1);
        transform: rotate(1);
    }
    50% {
        transform: scale(1, 1.1);
        transform: rotate(-1);
    }
    100% {
        transform: scale(1.1, 1);
        transform: rotate(-1);
    }
}

#loading-txt {
    background-image: linear-gradient( -225deg, #225715 0%, #297a10 29%, #3aff13 67%, #5a8352 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 0.5s linear infinite;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    display: inline-block;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

#login {
    background-image: url("../google_btn.png");
    position: absolute;
    z-index: 9999;
    top: 4%;
    left: 4%;
    width: 12%;
    height: 6%;
    background-size: 100% 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;500&family=MuseoModerno:wght@600&display=swap');
#logout {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid;
    border-radius: 12px;
    background-color: rgb(110, 0, 0);
    position: absolute;
    z-index: 9999;
    top: 4%;
    left: 4%;
    width: 13%;
    height: 7%;
    text-align: center;
    font-family: 'MuseoModerno', cursive;
}