#doorbell .clearfix {
    *zoom:1;
}

#doorbell .clearfix:before,
#doorbell .clearfix:after {
    display:table;
    line-height:0;
    content:"";
}

#doorbell .clearfix:after {
    clear:both;
}

#doorbell-success {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    background-color: #dff0d8;
    color: #3c763d;
}

#doorbell-error {
    padding: 15px;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    background-color: #f2dede;
    color: #a94442;
}

#doorbell p {
    margin: 0 0 10px;
}

#doorbell label {
    font-weight: bold;
}

#doorbell .doorbell-question {
    margin-bottom: 10px;
}

#doorbell .doorbell-question-radio {
    display: inline-block;
    margin-right: 15px;
}

#doorbell .doorbell-question-radio label {
    margin: 0;
    font-weight: normal;
}

#doorbell .doorbell-question-radio input {
    margin-right: 5px;
    margin-top: -2px;
    vertical-align: middle;
}

#doorbell .form-control {
    margin: 0 0 10px;
}

#doorbell textarea {
    overflow: auto;
    min-height: 80px;
}

#doorbell .form-control {
    display: block;
    height: 34px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

#doorbell .checkbox {
    margin-bottom: 10px;
}

#doorbell .checkbox label {
    font-weight: normal;
}

#doorbell-submit-button {
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    margin: 0;

    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    border: 1px solid #2e6da4;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    color: #fff;
    background: #337ab7;
}

#doorbell-submit-button:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
    text-decoration: none;
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

#doorbell-submit-button:active, #doorbell-submit-button:hover {
    color: #fff;
    background: #286090;
    border-color: #204d74;
}

#doorbell-submit-button.disabled {
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

#doorbell-powered-by {
    color: #337ab7;
    text-decoration: none;
}
