/*
    Copyright 2022 latel88 All Rights Reserved.
*/
@media (pointer: fine) { /* Rules for devices with mouse here */ }

.log {
    position: fixed;
    top: 0px;
    right: 0px;
    text-align: right;

    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    font-family:monospace;
    color: white;
}