@import url('login.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chango&family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-theme-color: #7197d5;
    --primary-text-color: white;
    --secondary-color: #597d80;
    --accent-light: #cc9a8f;
    --accent: #995c5c;
    --primary-color: #1f3d4c;
    --main: #dad6c9;
}

#login-modal a.forget-password {
    font-size: 12px;
}

#login-modal button.login-button {
    padding: 1.1rem;
}

#login-modal {
    z-index: 23000;
}

#signupmodal {
    z-index: 24000;
}

#forget-password-modal {
    z-index: 25000;
}

#tos-modal,
#pp-modal {
    z-index: 26000;
}

.patron-full-button {
    height: 32px;
    width: 140px;
    background-size: 140px;
    border-radius: 3px;
    border: 1px solid white;
    background-image: url('/assets/images/patron_button.png');
}

div.or-separation {
    height: 14px;
    margin-bottom: 10px;
    border-bottom: 1px solid #dddddd;
    text-align: center;
}

div.or-separation span {
    font-size: 17px;
    color: #dddddd;
    background: white;
    padding: 0 10px 14px 10px;
}

#quick-signup-modal .btn.facebook-login-button,
#login-modal .btn.facebook-login-button,
#signupmodal .btn.facebook-login-button {
    background: #4267b2;
    color: white;
}

.padding-15 {
    padding: 15px !important;
}

.item-shop-button {
    min-height: 100px;
}

.item-shop-button-div:hover {
    cursor: pointer;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    /* background-color: #ecedee!important; */
}

#item-purchase-warning {
    display: none;
    z-index: 999999;
    position: fixed;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
}

.bg-light-green {
    background-color: rgba(40, 167, 69, 0.3);
}

.bg-light-red {
    background-color: rgba(220, 53, 69, 0.3);
}

.text-align-bottom-center {
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 4px;
}

.xpaystation-widget-lightbox {
    z-index: 30000 !important;
}

@font-face {
    font-family: Anime;
    src: url('https://css-tricks.com/examples/TextStroke/type/animeace2_reg.ttf');
}

.coin-shop {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.coin-offer-container {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    width: 130px;
    height: 100%;
    background: #28a745;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
}

.coin-offer-container:hover {
    background: #218838;
}

.coin-offer-ui {
    /* position: relative;
    min-height: 95px; */
}

.coin-offer-ui img {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.coin-offer-ui .badge {
    position: absolute;
    transform: translateX(-50%);
}

.coin-offer-text {
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
}

.coin-amount {
    color: yellow;
}

.wrap-text {
    word-break: break-word;
}

.coin-price {
    /* position: absolute;
    bottom: -10px; */
    font-weight: bold;
    font-size: 17px;
    color: yellow;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    text-transform: uppercase;
}

.coin-offer-no-ads-text {
    font-size: 11px;
}

.coin-offer-header {
    font-size: 17px;
    z-index: 5;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.offer-text-container {
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
}

.coin-offer-text .free {
    color: #2ee22e;
    text-shadow: 1px 1px 0 rgba(100, 177, 37, 0.692), 2px 2px 0 rgba(100, 177, 37, 0.692);
}

.loading {
    min-height: 200px;
    min-width: 200px;
    background: url('/assets/images/loader.gif') center center no-repeat;
}

.hover-primary:hover {
    color: #0062cc !important;
}

.hover-secondary:hover {
    background: #dedede !important;
}

.height-fill-available {
    height: -moz-available !important;
    height: -webkit-fill-available !important;
    height: fill-available !important;
}

.overflow-scroll {
    overflow: scroll;
}

.vh-100 {
    height: 100vh;
}

.vh-85 {
    height: 85vh;
}

.hidden-vertical-mobile {
    display: block;
}

.height-50px {
    height: 50px;
}

.score-div {
    right: 0px;
    bottom: 0px;
    text-align: right;
}

.margin-auto {
    margin: auto;
}

.pointer-events-none {
    pointer-events: none !important;
}

.pointer-events-all {
    pointer-events: all !important;
}

.patreon-button {
    box-shadow: none !important;
    background: #f96854;
}

.patreon-icon-button {
    height: 35px;
}

.patreon-button:hover,
.patreon-button:hover:active,
.patreon-button:active,
.patreon-button:focus {
    /* border: 1px solid white; */
    background: #f96854;
}

@media only screen and (max-device-width: 823px) {
    /* Styles */
    #modd-shop-modal .btn {
        font-size: 11px !important;
        padding: 0.1rem 0.75rem;
    }
    .is-mobile {
        max-height: 50px !important;
        max-width: 50px !important;
    }
    .coin-shop {
        height: 100px !important;
    }
    .mobile-img {
        top: 35px !important;
    }
    .coin-offer-container {
        justify-content: flex-end;
    }
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    #menu-column-main {
        max-width: 360px;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #menu-column-main {
        max-width: 360px;
    }
}

@media (max-width: 768px) {
    .hidden-vertical-mobile {
        display: none;
    }
    .hide-on-mobile {
        display: none !important;
    }
    .main-vertical-mobile {
        margin: auto;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
    .score-div {
        font-size: 10px !important;
    }
    #item-info-div {
        font-size: 12px !important;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    #menu-column-main {
        max-width: 350px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    #menu-column-main {
        max-width: 480px;
    }
}

.width-20 {
    width: 20px;
}

#left-menu {
    display: none;
}

@media (min-width: 1350px) {
    #left-menu {
        display: flex;
    }
}

.sandbox-link-text {
    color: white;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-size: 16px;
    z-index: 3;
}

.dark-bg {
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
}

.sandbox-link-text>div {
    padding: 10px;
    width: fit-content;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 6px;
}