*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* General styles for all types of buttons */

.progress-button {
    position: relative;
    display: inline-block;
    outline: none;
    border: none;
    background: #28a745;
    color: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    cursor: pointer;
}

.progress-button[disabled],
.progress-button[disabled].state-loading {
    cursor: not-allowed;
}

.progress-button .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-button .content::before,
.progress-button .content::after {
    position: absolute;
    right: 20px;
    color: #28a745;
    opacity: 0;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s;
}

.notransition {
    -webkit-transition: none !important;
    transition: none !important;
}

.progress-button .progress {
    background: #c3f9b3;
}

.progress-button .progress-inner {
    position: absolute;
    left: 0;
    background-size: 30px 30px;
    background-image: linear-gradient( 45deg, #28a745 25%, #1f8036 25%, #1f8036 50%, #28a745 50%, #28a745 75%, #1f8036 75%, #1f8036 100%);
    animation: barberpole 0.5s linear infinite;
}

.progress-button[data-horizontal] .progress-inner {
    top: 0;
    width: 0;
    height: 100%;
    -webkit-transition: width 0.3s, opacity 0.3s;
    transition: width 0.3s, opacity 0.3s;
}

.progress-button[data-vertical] .progress-inner {
    bottom: 0;
    width: 100%;
    height: 0;
    -webkit-transition: height 0.3s, opacity 0.3s;
    transition: height 0.3s, opacity 0.3s;
}

/* Necessary 3d styles for buttons with perspective */

.progress-button[data-perspective] {
    position: relative;
    display: inline-block;
    padding: 0.5rem;
    background: transparent;
    -webkit-perspective: 900px;
    perspective: 900px;
}

.progress-button[data-perspective] .content {
    background: #28a745;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.progress-button[data-perspective] .progress-wrap {
    display: block;
    -webkit-transition: -webkit-transform 0.2s;
    transition: transform 0.2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.progress-button[data-perspective] .content,
.progress-button[data-perspective] .progress {
    outline: 1px solid rgba(0, 0, 0, 0);
    /* Smoothen jagged edges in FF */
}

/* Individual styles */

/* Choose the effect(s) you want, delete the rest */

.progress-button[data-style="rotate-side-down"] .progress {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    -webkit-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.progress-button[data-style="rotate-side-down"].state-loading .progress-wrap {
    -webkit-transform: rotateX(90deg) translateZ(10px);
    transform: rotateX(90deg) translateZ(10px);
}

@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

.loading-mode {
    height: 30px !important;
}