.IntelTab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  max-height: 45.75rem;
  width: 100%;

  .panel {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: stretch;
    min-width: 0;

    .header .button-wrapper {
      float: right;
      margin-right: 0.3rem;
      margin-top: 0.4rem;
      font-size: 0.95rem;
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: start;
      margin: 1rem;
      padding-right: 0.5rem;
      overflow-y: scroll;
    }
  }

  .message {
    position: relative;
    width: 47rem;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 0.75rem;
    margin-left: 0.25rem;

    .intel-background {
      object-position: top;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .content-wrapper {
      position: relative;
      margin-left: 0.75rem;
      margin-top: 3rem;
      margin-right: 1.5rem;

      .content {
        padding: 3rem;

        .timestamp {
          float: right;
          margin-right: 1rem;
          color: #4b6e70;
        }

        .attention {
          font-size: 2rem;
          color: #e23e3c;
          font-weight: bold;
        }

        .username {
          font-size: 3rem;
          color: #e23e3c;
        }

        .title {
          text-transform: uppercase;
          color: #4b6e70;
          font-size: 2rem;
          font-weight: bold;
          margin-top: 1rem;
          margin-bottom: 1rem;
        }

        .body {
          font-size: 1.2rem;
          color: #4b6e70;

          a {
            color: #e23e3c;
          }
        }

        .items {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          flex-direction: row;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.MessageItem {
  border-color: #4b6e70;
  background-color: #4b6e70;
  border-width: 0.125rem;
  border-style: solid;
  margin-bottom: 0.5rem;
  height: 2.5rem;
  flex-shrink: 0;
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &:last-child {
    margin-bottom: 0;
  }

  &.selected {
    border-color: #ffd800;
    background-color: #ffd800;

    .title {
      color: #ffd800;
      background-color: #2f4546;

      .title-bg {
        background: url(/img/ui/mercZone_bgFilter.png);
      }
    }
  }

  .icon-container {
    width: 2.5rem;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    font-size: 0.75rem; /* for the notification icon */

    .menuTab-notification {
      margin-top: -0.125em;
      margin-right: -0.125em;
    }
  }

  .title {
    color: #4b6e70;
    background-color: #2f4546;
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    min-width: 0;

    .title-bg {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      font-size: 1rem;
      min-width: 0;
      height: 100%;
    }

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
